@import "_variable_deko.scss";
@import "_normalize.scss";

.main-bun-wrp {
  height: 950px;
  background-image: url("../img/main-bun.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.head-line {
  width: 100%;
  height: 28px;
  background-color: $mainColor;
}

.head-wrp {
  max-width: 1440px;
  width: 100%;
  @extend %marg-center;
  margin-bottom: 94px;
  padding-top: 30px;
  @extend %pos-flex-betw;
  align-items: center;
}

.head-text {
  max-width: 618px;
  width: 100%;
  display: flex;
  @extend %pos-flex-betw;
  @extend %textMain;
}

.head-text > a {
  @extend %textBold;
  font-size: 18px;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 1px solid #ffa30000;
  transition: 1s;
}

.head-text > a:hover {
  color: $mainColor;
  border-bottom: 1px solid $mainColor;
}

.phone-wrp {
  @extend %textMain;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 24px;
  border: 1px solid $colorText;
  background: #00000080;
}

.text-bun-main {
  @extend %marg-center;
  max-width: 717px;
  margin-bottom: 40px;
}

.text-bun-main > h1 {
  @extend %textMain;
  font-size: 48px;
  text-align: center;
  line-height: 48px;
}

.btn-bun {
  @extend %btn-main;
  font-weight: 700;
  font-size: 36px;
}

.btn-bun:hover {
  @extend %btn-main-hov;
}

.btn-bun-wrp {
  @extend %btn-bun-wrp;
}

.main-wrp {
  padding-top: 80px;
  background-color: $backColor;
}

.categories-wrp {
  @extend %marg-center;
  max-width: 1440px;
}

.btn-inform-wrp {
  padding-top: 38px;
  @extend %btn-bun-wrp;
}

.btn-inform {
  @extend %btn-main;
  font-size: 18px;
}

.btn-inform:hover {
  @extend %btn-main-hov;
}

.categories-wrp > p {
  @extend %textRubric;
}

.power-tools {
  width: 348px;
  height: 232px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}

.power-tools > p {
  width: 80%;
  position: absolute;
  @extend %textMain;
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  background-color: #00000080;
  text-align: center;
}

.categories-pos {
  @extend %pos-flex-betw;
  margin-bottom: 80px;
}

.line-inform {
  width: 300px;
  margin-bottom: 37px;
  @extend %marg-center;
  border-top: 1px solid $colorText;
}

.text-inform {
  margin-bottom: 28px;
  padding-top: 80px;
}

.inform-wrp {
  margin-bottom: 80px;
  display: flex;
  background: #131313;
}

.text-inform-pos {
  max-width: 423px;
  width: 100%;
  text-align: center;
  @extend %textMain;
}

.text-inform-pos > h3 {
  font-size: 36px;
  font-weight: 700;
  color: $mainColor;
}

.text-inform-pos > p {
  margin-bottom: 20px;
  font-size: 18px;
}

.text-inform-wrp {
  padding-left: 63px;
}

.partner-wrp {
  max-width: 1440px;
  margin-bottom: 60px;
  @extend %marg-center;
}

.partner-wrp > p {
  @extend %textRubric;
}

.partner-link {
  width: 352px;
  height: 237px;
  @extend %pos-flex-betw;
  background-color: $colorText;
  justify-content: center;
  align-items: center;
}

.partner-pos {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
}

.input-text-main {
  width: 170px;
  padding-top: 45px;
  margin-bottom: 45px;
  @extend %textMain;
  font-size: 36px;
  font-weight: 700;
  color: $mainColor;
}

.input-wrp {
  display: flex;
  justify-content: center;
  background-image: url("../img/back-input.png");
  background-repeat: no-repeat;
}

.input-pos {
  max-width: 605px;
  width: 100%;
  padding-left: 65px;
  background: #131313;
}

.input-style {
  max-width: 472px;
  width: 100%;
  padding: 21px 27px;
  margin-bottom: 40px;
  border: 1px solid $mainColor;
  color: $colorText;
  @extend %textMain;
  font-size: 18px;
}

input::placeholder {
  color: #9c9c9c;
  font-size: 18px;
  @extend %textMain;
}

.input-btn {
  display: flex;
  margin-bottom: 30px;
  @extend %btn-main;
  font-size: 18px;
  color: #000000cc;
  background-color: $mainColor;
  border: 1px solid #000000cc;
  transition: 1s;
}

.input-btn:hover {
  background: #000000cc;
  color: $mainColor;
  border: 1px solid $mainColor;
}

.text-input {
  margin-bottom: 53px;
  color: #9c9c9c;
  font-size: 18px;
  @extend %textMain;
}

.input-pos-wrp {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: flex-end;
}

.foot-wrp {
  background-color: #262626;
}

.foot-text > a {
  @extend %textBold;
  @extend %textMain;
  font-size: 24px;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 1px solid #ffa30000;
  transition: 1s;
}

.foot-text > a:hover {
  color: $mainColor;
  border-bottom: 1px solid $mainColor;
}
