@import "_variable_deko.scss";
@import "_normalize.scss";

html,
body {
  overflow-x: hidden;
}

.section {
  display: none;
  z-index: 100;
}

.menu-btn {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
}

.menu-btn span {
  position: absolute;
  top: 50%;
  margin-top: 1.5px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 3px;
  background-color: #ffffff00;
}

.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: 1.5px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
}

.menu-btn span::before,
.menu-btn span::after {
  content: "";
  transition: 0.5s;
}

.menu-btn span::before {
  transform: translateY(-9px);
}

.menu-btn span::after {
  transform: translateY(3px);
}

.menu-btn_active span::before {
  transform: rotate(35deg);
}

.menu-btn_active span::after {
  transform: rotate(-35deg);
}

.main-bun-wrp {
  height: 950px;
  background-image: url("../img/main-bun.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.head-line {
  width: 100%;
  height: 28px;
  background-color: $mainColor;
  z-index: 113;
}

.head-wrp {
  max-width: 1440px;
  width: 100%;
  @extend %marg-center;
  margin-bottom: 94px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  @extend %pos-flex-betw;
  align-items: center;
}

.head-text {
  max-width: 618px;
  width: 100%;
  display: flex;
  @extend %pos-flex-betw;
  @extend %textMain;
}

.head-nav-mob {
  max-width: 375px;
  width: 100%;
  padding-left: 40px;
  padding-top: 100px;
  padding-bottom: 20px;
  right: -380px;
  top: 29px;
  position: absolute;
  display: none;
  flex-direction: column;
  @extend %textMain;
  background-color: #000000;
  transition: all 0.3s ease 0.3s;
}

.head-nav-mob > a {
  margin-bottom: 17px;
  font-size: 24px;
  font-weight: 700;
}

.head-text > a {
  @extend %textBold;
  font-size: 18px;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 1px solid #ffa30000;
  transition: 1s;
}

.head-text > a:hover {
  color: $mainColor;
  border-bottom: 1px solid $mainColor;
}

.phone-wrp {
  @extend %textMain;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 24px;
  border: 1px solid $colorText;
  background: #00000080;
}

.text-bun-main {
  @extend %marg-center;
  max-width: 717px;
  margin-bottom: 40px;
}

.text-bun-main > h1 {
  @extend %textMain;
  font-size: 48px;
  text-align: center;
  line-height: 48px;
  letter-spacing: 1.2px;
}

.btn-bun {
  @extend %btn-main;
  font-weight: 700;
  font-size: 36px;
}

.btn-bun:hover {
  @extend %btn-main-hov;
}

.btn-bun-wrp {
  @extend %btn-bun-wrp;
}

.main-wrp {
  padding-top: 80px;
  background-color: $backColor;
}

.categories-wrp {
  @extend %marg-center;
  max-width: 1440px;
}

.btn-inform-wrp {
  padding-top: 38px;
  @extend %btn-bun-wrp;
}

.btn-inform {
  @extend %btn-main;
  font-size: 18px;
}

.btn-inform:hover {
  @extend %btn-main-hov;
}

.categories-wrp > p {
  @extend %textRubric;
}

.power-tools {
  width: 348px;
  height: 232px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}

.power-tools > p {
  width: 80%;
  position: absolute;
  @extend %textMain;
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  background-color: #00000080;
  text-align: center;
}

.categories-pos {
  @extend %pos-flex-betw;
  margin-bottom: 80px;
}

.line-inform {
  width: 300px;
  margin-bottom: 37px;
  @extend %marg-center;
  border-top: 1px solid $colorText;
}

.text-inform {
  margin-bottom: 28px;
  padding-top: 80px;
}

.inform-wrp {
  margin-bottom: 80px;
  display: flex;
  background: #131313;
}

.text-inform-pos {
  max-width: 423px;
  width: 100%;
  text-align: center;
  @extend %textMain;
}

.text-inform-pos > h3 {
  font-size: 36px;
  font-weight: 700;
  color: $mainColor;
}

.text-inform-pos > p {
  margin-bottom: 20px;
  font-size: 18px;
}

.text-inform-wrp {
  width: 761px;
  padding-left: 63px;
  margin-right: 16px;
}

.partner-wrp {
  max-width: 1440px;
  margin-bottom: 60px;
  @extend %marg-center;
}

.partner-wrp > p {
  @extend %textRubric;
}

.partner-link {
  max-width: 352px;
  width: 100%;
  height: 237px;
  @extend %pos-flex-betw;
  background-color: $colorText;
  justify-content: center;
  align-items: center;
}

.partner-link + .partner-link {
  margin-left: 5px;
}

.partner-pos {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
}

.input-text-main {
  width: 170px;
  padding-top: 45px;
  margin-bottom: 45px;
  @extend %textMain;
  font-size: 36px;
  font-weight: 700;
  color: $mainColor;
}

.input-wrp {
  display: flex;
  justify-content: center;
  background-image: url("../img/back-input.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.input-pos {
  max-width: 605px;
  width: 100%;
  padding-left: 65px;
  background: #131313;
}

.input-style {
  max-width: 472px;
  width: 100%;
  padding: 21px 27px;
  margin-bottom: 40px;
  border: 1px solid $mainColor;
  color: $colorText;
  @extend %textMain;
  font-size: 18px;
}

input::placeholder {
  color: #9c9c9c;
  font-size: 18px;
  @extend %textMain;
}

.input-btn {
  display: flex;
  margin-bottom: 30px;
  @extend %btn-main;
  font-size: 18px;
  color: #000000cc;
  background-color: $mainColor;
  border: 1px solid #000000cc;
  transition: 1s;
}

.input-btn:hover {
  background: #000000cc;
  color: $mainColor;
  border: 1px solid $mainColor;
}

.text-input {
  margin-bottom: 53px;
  color: #9c9c9c;
  font-size: 18px;
  @extend %textMain;
}

.input-pos-wrp {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: flex-end;
}

.foot-wrp {
  background-color: #262626;
}

.foot-text {
  max-width: 667px;
  width: 100%;
  margin-bottom: 88px;
  @extend %btn-bun-wrp;
  display: flex;
  justify-content: space-between;
}

.foot-text > a {
  @extend %textBold;
  @extend %textMain;
  font-size: 24px;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 1px solid #ffa30000;
  transition: 1s;
}

.foot-text > a:hover {
  color: $mainColor;
  border-bottom: 1px solid $mainColor;
}

.foot-pos {
  padding-top: 73px;
}

.foot-logo {
  @extend %btn-bun-wrp;
  margin-bottom: 26px;
}

.foot-wrp-icon {
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}

.foot-icon-link {
  margin-right: 11px;
}

.inform-img {
  max-width: 100%;
  width: 1129px;
  height: 635px;
  background-image: url("../img/information_about_company.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.power-img-mob {
  display: none;
}

.head-phone-mob {
  z-index: 111;
  display: none;
}

.icon-menu-mob {
  display: none;
}

.head-wrp > img {
  z-index: 112;
}

.part-img-mob {
  display: none;
}

.menu-line {
  width: 30px;
  border-top: 2px solid #ffffff;
}

.menu-line + .menu-line {
  margin-top: 9px;
}

.trans {
  transform: rotate(45deg);
}

.trans-l {
  transform: rotate(-45deg);
}

@media (max-width: 1500px) {
  .partner-wrp > p {
    padding-left: 20px;
  }

  .categories-wrp > p {
    padding-left: 20px;
  }

  .categories-pos {
    padding: 0 4px;
    flex-wrap: wrap;
  }
}

@media (max-width: 1440px) {
  .power-tools + .power-tools {
    margin-left: 6px;
  }
}

@media (max-width: 1426px) {
  .partner-wrp {
    margin-bottom: 6px;
  }

  .partner-pos {
    margin-bottom: 6px;
    padding: 0 10px;
  }

  .power-tools {
    margin-bottom: 6px;
  }

  .power-tools + .power-tools {
    margin-left: 0;
  }

  .categories-pos {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (max-width: 1040px) {
  .section {
    display: block;
  }

  .inform-wrp {
    margin-bottom: 22px;
  }

  .partner-wrp > p {
    margin-bottom: 22px;
    font-size: 24px;
  }

  .categories-wrp > p {
    font-size: 24px;
  }
  .text-inform-pos > h3 {
    font-size: 24px;
  }

  .head-text {
    display: none;
  }

  .phone-wrp {
    display: none;
  }

  .head-phone-mob {
    display: flex;
  }

  .icon-menu-mob {
    display: flex;
    flex-direction: column;
  }

  .inform-img {
    display: none;
  }

  .text-inform-wrp {
    width: auto;
    margin: 0 auto;
    padding: 0 10px;
    margin-right: auto;
  }

  .text-inform {
    padding-top: 22px;
  }

  .btn-inform {
    margin-bottom: 44px;
  }
}

@media (max-width: 900px) {
  .input-form-wrp {
    text-align: center;
  }

  .input-pos {
    max-width: none;
    padding-left: 0;
    margin: 0 auto;
    background: linear-gradient(
      0deg,
      rgba(19, 19, 19, 0.8),
      rgba(19, 19, 19, 0.8)
    );
  }

  .input-text-main {
    width: auto;
    font-size: 24px;
  }

  .input-btn {
    margin-left: auto;
    margin-right: auto;
  }

  .text-input {
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
  }

  .part-img {
    display: none;
  }

  .part-img-mob {
    display: flex;
  }
}

@media (max-width: 800px) {
  .text-bun-main > h1 {
    padding: 0 16px;
    font-size: 26px;
    line-height: 26px;
  }

  .btn-bun {
    font-size: 24px;
  }
}

@media (max-width: 730px) {
  .foot-text > a {
    margin-bottom: 23px;
  }

  .foot-text {
    margin-bottom: 9px;
    flex-direction: column;
  }

  .foot-pos {
    padding-top: 44px;
  }

  .power-img {
    display: none;
  }

  .power-img-mob {
    display: flex;
  }

  .power-tools {
    width: 175px;
    height: 138px;
  }

  .power-tools > p {
    width: 93%;
    font-size: 14px;
    font-weight: 500;
  }

  .categories-wrp > p {
    margin-bottom: 18px;
    font-size: 24px;
  }

  .main-wrp {
    padding-top: 22px;
  }

  .categories-pos {
    margin-bottom: 3px;
  }

  .partner-link {
    height: 77px;
  }
}

@media (max-width: 530px) {
  .input-style {
    max-width: 354px;
  }

  .main-bun-wrp {
    background-image: url("../img/main-bun_mob.png");
    height: 660px;
  }
}
